body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #3498db, #2c3e50);
}

#calculatorContainer {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input,
button {
  width: 50px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  display: inline-block;
}

input {
  width: 87%;
  margin-left: 4px;
}

button {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}